nav > ul  {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: chocolate; 
    display: flex; 
    
}

nav li a {
    text-decoration: none;
    padding: 20px 15px;
    color: #fff;
    display: block;
}

li a:hover {
    background-color: lavender;
    color: darkmagenta;
}

li a:active {
    padding: 25px 20px;
} 